/* styles.css */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #000000;
  z-index: 100;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}



.navbar {
  position: fixed;
  top: 100px;/* ヘッダーの高さに合わせて調整 */
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 99;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin-right: 100px; /*メニュの間隔*/
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px; /* メニューバーの文字サイズを調整 */
}

/*HOMEはここから*/

body {
  margin: 0;
  padding: 0;
}

.home {
  background-color: #fff;
  padding: 10px;
}

.comment-section {
  background-color: #fff;
  padding: 10px;
}

.home h1 {
  margin-top: 130px; /* 調節したい上部の余白の値を設定します */
}
